
@font-face {
    font-family:'style';
    src: url(fonts/PlayfairDisplay-Medium.ttf);
}
.id > h1 {
    color: orange;
    text-shadow: 2px 7px 4px black;
    font-size: 60px;
    font-family: style;

}